.logo {
    display: block;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    text-decoration: none;
}

.logo_square {
    padding-bottom: 100%;
}



