.items {

}

.items__header {
    width: 100%;
}

.items__title {
    margin: 0;
    text-align: center;

    @media #{$xlarge-and-up} {
        text-align: left;
    }
}

.items__content {
    display: grid;
    grid-gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, 260px);
    width: 100%;
    height: auto;
    justify-content: center;
    grid-auto-flow: row;
    margin-bottom: 2em;
}
.items__wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.items__content_offers {
    display: grid;
    grid-gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(298px, 560px));
    width: 100%;
    height: auto;
    justify-content: center;
    grid-auto-flow: row;
}
